@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/@typopro/web-iosevka@3.7.5/TypoPRO-iosevka-term-bold.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@import "https://fonts.googleapis.com/css2?family=Special+Elite&display=swap";

* {
    font-family: "TypoPRO Iosevka Term";
}

html, body {
    height: 100%;
    width: 100%;
}

.org-ul {
    padding-left: 0;
}

.archive li {
    list-style: none;
}

#preamble {
    display: contents;
}

nav.navbar ul.navbar-nav {
    width: 100%;
}

#navbar ul a:nth-of-type(5) {
  margin-right: auto;
}

body {
  background: var(--light);
}

nav a:first-of-type:before {
  font-family: "FontAwesome";
  content: "\f015";
}

nav a:nth-of-type(2):before {
  font-family: "FontAwesome";
  content: "\f007";
  padding-right: .25rem;
}

nav a:nth-of-type(3):before {
  font-family: "FontAwesome";
  content: "\f09d";
  padding-right: .25rem;
}

nav a:nth-of-type(4):before {
  font-family: "FontAwesome";
  content: "\f15b";
  padding-right: .25rem;
}

iframe {
    height: 200% !important;
    padding-top: .5rem;
}
li.title-tag-line {
  margin-right: auto;
  font-size: 1.5rem;  
  color: var(--gray);
}

li.title-tag-line span {
  font-family: 'Special Elite', cursive !important;
}

li.title-tag-line span:first-of-type:after {
  content: "🖥 📝";
}

.org-ul li {
  list-style: none;
}
